@import 'tailwindcss';

@theme {
  --color-bg-acika-primary: #f5f1e8;
  --color-bg-acika-secondary: #fbf9f6;
  --color-text-acika-primary: #2d2520;
  --color-text-acika-secondary: #8b7b7b;
  --color-accent-acika-primary: #d4869c;
  --color-accent-acika-secondary: #e8b8a3;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('/font/AmaticSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amatic SC';
  src: url('/font/AmaticSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body,
html {
  font-family: 'Amatic SC', ' Comic Sans MS', sans-serif;
  font-weight: 400;
  font-style: normal;
}
