@import 'tailwindcss';

@theme {
  --color-bg-acika-primary: #f5f1e8;
  --color-bg-acika-secondary: #fbf9f6;
  --color-text-acika-primary: #2d2520;
  --color-text-acika-secondary: #8b7b7b;
  --color-accent-acika-primary: #d4869c;
  --color-accent-acika-secondary: #e8b8a3;
  --color-background: #fafaf8;
  --color-foreground: #2d2d2d;
  --color-primary: #4a7c59;
  --color-primary-foreground: #ffffff;
  --color-secondary: #9b8b7e;
  --color-secondary-foreground: #ffffff;
  --color-accent: #f5f1ed;
  --color-accent-foreground: #2d2d2d;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  --color-muted: #e5ddd3;
  --color-muted-foreground: #9b8b7e;
  --color-border: #e5ddd3;
  --color-input: #f5f1ed;
  --color-ring: #4a7c59;
  --font-poppins: 'Poppins', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --shadow-bottom: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-bottom-sm: 0 2px 4px rgba(0, 0, 0, 0.06);
  --shadow-bottom-strong: 0 3px 4px -2px rgba(0, 0, 0, 0.35),
    0 10px 24px -6px rgba(0, 0, 0, 0.15);
}

@font-face {
  font-family: 'Playfair Display', serif;
  src: url('/font/PlayfairDisplay.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display', serif;
  src: url('/font/PlayfairDisplayItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('/font/PoppinsRegular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body,
html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}
