---
import { getRelativeLocaleUrl } from 'astro:i18n';
import { ui, defaultLanguage } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { HEADER } from '../constants';
const lang = getLangFromUrl(Astro.url) || defaultLanguage;
const t = useTranslations(lang as keyof typeof ui);
---

<footer class="bg-background border-t border-black text-primary-foreground/90 py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-6xl mx-auto">
        <div class="grid md:grid-cols-4 gap-8">
          <div class=' text-center md:text-start'>
            <div class="gap-2 mb-2 ">

              <h4 class="font-playfair font-bold text-3xl text-primary">{t('common', 'salon_acika')}</h4>
            </div>
            <p class="text-2xl text-accent-foreground italic">
              {t('footer', 'address')}
            </p>
          </div>
       
          <div class='text-center'>
            <h5 class="font-playfair font-bold text-3xl mb-2 text-primary">{t('footer', 'follow_us')}</h5>
            <ul class=" flex gap-2 justify-center text-accent-foreground text-2xl italic">
              <li><a href="https://www.facebook.com/acikanokti/" target='_blank' class="hover:text-primary hover:underline transition-colors">Facebook</a></li>
              <li><a href='https://www.instagram.com/acika_nokti/' target='_blank' class="hover:text-primary hover:underline transition-colors">Instagram</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </footer>