 <button id='mobile-trigger' aria-expanded='false' aria-controls='mobile-nav' class='z-99 relative hamburger-button cursor-pointer  w-10 h-5 flex flex-col gap-1 justify-center items-center'>
        <div
          class={`hamburger-first-line w-full bg-black h-1 rounded transition-all transform `}
        ></div>
        <div
          class={`hamburger-second-line w-full bg-black h-1 rounded transition-all duration-400 `}
        ></div>
        <div
          class={`hamburger-third-line w-full bg-black h-1 rounded transition-all transform `}
        ></div>
</button>