---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
import Header from '../components/Header.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import Footer from '../components/Footer.astro'
const {pageTitle, pageDescription} = Astro.props
const lang = Astro.props.lang;

console.log('layout', lang ,'iz propsa' )
const t = useTranslations(lang);
---


<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" href="/font/AmaticSC-Regular.ttf" as="font" type="font/ttf" crossorigin>
		<link rel="preload" href="/font/AmaticSC-Bold.ttf" as="font" type="font/ttf" crossorigin>
		<title>{pageTitle}</title>
		<meta name="description" content={pageDescription} />
		<link rel="alternate" hreflang="sr" href="https://salonacika.com/sr/" />
		<link rel="alternate" hreflang="sr-Latn" href="https://salonacika.com/sr-latn/" />
		<link rel="alternate" hreflang="en" href="https://salonacika.com/en/" />
		<link rel="alternate" hreflang="de" href="https://salonacika.com/de/" />
		<link rel="alternate" hreflang="x-default" href="https://salonacika.com/sr-latn/" />

		<meta property="og:title" content="Kozmetički Salon Acika - Lepota i Stručnost">
		<meta property="og:description" content="Profesionalni tretmani lica i tela u opuštajućem ambijentu.">
		<meta property="og:image" content="https://salonacika.com/og-image.jpg">
		<meta property="og:url" content="https://salonacika.com/sr-latn/">
		<meta property="og:type" content="website">

		<script type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "BeautySalon",
			"name": "Kozmetički salon Acika",
			"image": "https://salonacika.com/logo.png",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Banja Luka",
				"addressRegion": "BA",
				"addressCountry": "BA"
			},
			"url": "https://salonacika.com/",
			"telephone": "+38765749513",
			"priceRange": "$$"
			}
		</script>
	</head>
	<body class='flex flex-col w-full'>
		<Header />
		<Navbar 
		/>
		<main class='flex flex-col flex-1'>
			<slot />
		</main>

	</body>
</html>

<style>
	html,
	body {
		transition: all;
		animation-duration: 500ms;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
