---
import "../styles/global.css"
import Navbar from "../components/Navbar.astro"
import Header from '../components/Header.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'
const {pageTitle, pageDescription} = Astro.props
const lang = Astro.props.lang;

console.log('layout', lang ,'iz propsa' )
const t = useTranslations(lang);
---


<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" href="/font/AmaticSC-Regular.ttf" as="font" type="font/ttf" crossorigin>
		<link rel="preload" href="/font/AmaticSC-Bold.ttf" as="font" type="font/ttf" crossorigin>
		<title>{pageTitle}</title>
		<meta name="description" content={pageDescription} />
	</head>
	<body class='flex flex-col w-full'>
		<Header />
		<Navbar 
		/>
		<main class='flex-1'>


			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		transition: all;
		animation-duration: 500ms;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
